config/credentials.py
data/raw/*
data/processed/*
data/*
__pycache__/
*.pyc
.env
pyvenv.cfg
scripts/*.exe
.vscode/
scripts/Activate.ps1
scripts/activate
scripts/activate.bat
scripts/activate.fish
scripts/deactivate.bat
lib/site-packages/*